.wrapper {
    margin-left: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    background-color: blueviolet;
}

.item {
    margin: 15px;
    color: white;
    width: 100px;
}
.priorityClass {
    color: white;
    width: 150px;
}

.button {
    border-radius: 5px;
    font-weight: bold;
}