.input:focus {
    outline: none;
    border: #99ff99 solid 2px;
}

.superInput {
    margin: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}


.errorInput {
    margin: 10px;
    border: 2px solid #dd3355;
    background: #77ff77;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}

.error {
    color: #dd3355;
    height: 21px;
    margin-left: 10px;
}
