.input:focus {
    outline: none;
    border: #404091 solid 2px;
}

.superInput {
    margin: 10px;

    background: #c9d8e8;
    color: #404091;
}


.errorInput {
    margin: 10px;

    background: #c9d8e8;
    color: #404091;
    border: 2px solid #dd3355;
}

.error {
    color: #dd3355;
    height: 21px;
    margin-left: 10px;
}
