.sideBar {
    position: relative;
    display: flex;
    align-items: center;
    transition: 1s;
    right: 230px;
}

.sideBar:hover {
    right: 0px;
}

.btn {
    width: 25px;
    height: 25px;
    background: #ef96f6;
}

.navLink {
    text-decoration: none;
    color: blueviolet;
    background-color: #99ff99;
    font-weight: bold;
}
