.sideBar {
    display: flex;
    align-items: center;
    width: 280px;
    transition-duration: 1s;
    transform: translate(-240px);
}

.sideBar:hover {
    transition-duration: 1s;
    transform: translate(0);
}

.btn {
    width: 25px;
    height: 25px;
    background: #ef96f6;
    margin: 10px;
}

.navLink {
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
    margin: 10px;
}

.navLink:hover {
    color: #ea5f6e;
}

.activeLink {
    color: yellowgreen;
}
