
.input {
    /*background-color: #93b8dc;*/
    background-color: red;
    color: white;
    border-radius: 1px;
}

.inputError {
    border: 1px solid red;
    background-color: #93b8dc;
    color: white;
}

.button {
    background-color: #8472c4;
    color: white;
    border-radius: 5px;
}

.errorMessage {
    color: red;
    height: 20px;
}